* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#conteiner_pai{
    width: 80%;
    background-color: rgb(211, 187, 155);
    height: 80vh;
    display: flex;
}
.item_son{
    background-color: beige;
    height: 30px;
}