body{

    background-color: antiquewhite;

}

#container_ex1{
    background-color: aliceblue;
    display: flex; /*Ao colocar o flex, os itens que estavam em
 forma de coluna (um sobre o outro) agora se juntam numa linha só*/
    width: 500px;
}

#container_ex1 .size {
    width: 80px;
    height: 80px;
}

#container_ex1 .son1{
    background-color: red;
}

#container_ex1 .son2{
    background-color: orange;
}

#container_ex1 .son3{
    background-color: yellow;
}

#container_ex1 .son4{
    background-color: green;
}

#container_ex1 .son5{
    background-color: blue;
}

#container_ex2{
    background-color: aliceblue;
    display: flex;
    width: 500px;
    /*flex-direction: row; igual ao do exercicio anterior*/ 
    /*flex-direction: column; uma coluna e um quadrado :D */
    /*flex-direction: row-reverse; A linha de cores que era 1,2,3,4,5
 agora está colocada de forma contrária e no canto direito sendo 5,4,3,2,1*/
    flex-direction: column-reverse; /* O mesmo que o da coluna, mas agora
os núemros estão de forma decrescente */
}

#container_ex2 .size {
    width: 80px;
    height: 80px;
}

#container_ex2 .son1{
    background-color: purple;
}

#container_ex2 .son2{
    background-color: plum;
}

#container_ex2 .son3{
    background-color: lavender;
}

#container_ex2 .son4{
    background-color: pink;
}

#container_ex2 .son5{
    background-color: palevioletred;
}