body{

    background-color: antiquewhite;

}

#container_ex1{
    background-color: aliceblue;
    display: flex;
    width: 400px;
    /*justify-content: flex-start; os filhos são colocados todos ao começo :)*/
    /*justify-content: flex-end; os filhos são colocados todos ao fim
dessa vez sem a alteração da ordem deles*/
    /*justify-content: center; os filhos são colocados juntos ao meio,
tendo espaço igual entre o começo e o fim do pai*/
    /*justify-content: space-between; os filhos agora tem um espaço igual
entre eles, mas não em relação ao pai (não ficam longe da borda)*/
    /*justify-content: space-around; agora os filhos tem um espaço igual
entre os lados deles (respeitando o limite de tamanho do pai)*/
    justify-content: space-evenly; /* é quase como o de cima, mas o espaço
entre os filhos é menor, mas entre o pai maior */
}

#container_ex1 .size {
    width: 60px;
    height: 60px;
}

#container_ex1 .son1{
    background-color: blue;
}

#container_ex1 .son2{
    background-color: rgb(87, 252, 252);
}

#container_ex1 .son3{
    background-color: rgb(132, 255, 132);
}

#container_ex1 .son4{
    background-color: green;
}

#container_ex2{
    background-color: aliceblue;
    display: flex;
    height: 300px;
    /*align-items: stretch; Apenas funciona sem as alturas, por ser o termo
normal*/
    /*align-items: flex-end; Coloca todos os filhos no fim da altura do pai*/
    /*align-items: flex-start; Coloca todos os filhos para o topo da altura
do pai*/
    /*align-items: center; Centraliza os filhos ao meio, mas no meio do canto
esquerdo do pai*/
    align-items: baseline; /* Alinha os filhos de acordo com o tamanho do
texto deles usando de base a linha da fonte maior */
}

#container_ex2 .son1{
    background-color: rgb(255, 101, 160);
    width: 60px;
    height: 60px;
    font-size: 60px;
}

#container_ex2 .son2{
    background-color: rgb(255, 243, 68);
    width: 100px;
    height: 100px;
    font-size: 100px;
}

#container_ex2 .son3{
    background-color: rgb(61, 145, 255);
    width: 80px;
    height: 80px;
    font-size: 80px;
}
